<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%clr(%d{HH:mm:ss.SSS}){faint}|%clr(${level:-%5p})|%32X{traceId:-},%16X{spanId:-}|%clr(%-40.40logger{39}){cyan}%clr(|){faint}%m%n%nopex</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <logger name="kr.co.knuserver" level="DEBUG"/>
  <logger name="org.springframework.web" level="DEBUG"/>
  <logger name="org.springframework.boot.autoconfigure" level="DEBUG"/>
  <logger name="com.zaxxer.hikari.pool" level="WARN"/>
  <logger name="org.hibernate.orm.jdbc" level="WARN"/>
  <logger name="org.hibernate.orm.core" level="WARN"/>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
</root>
</configuration>