<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%clr(%d{HH:mm:ss.SSS}){faint}|%clr(%-5level)|%clr(%-40.40logger{39}){cyan}|%m%n%wEx</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <logger name="org.springframework.web" level="DEBUG"/>
  <logger name="org.springframework.web.servlet.DispatcherServlet" level="INFO"/>

  <logger name="kr.co.knuserver" level="DEBUG"/>

  <logger name="org.hibernate.SQL" level="DEBUG"/>

  <logger name="org.hibernate.orm.jdbc.bind" level="INFO"/>
  <logger name="org.springframework.transaction" level="DEBUG"/>
  <logger name="org.springframework.orm.jpa.JpaTransactionManager" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>